:root {
  --nav-cerulean: #13585b;
  --muted-white: #f0f0f0;
  --muted-black: #232526;
  --cerulean: #119da4;
}

html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--nav-cerulean);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding: 0 !important;
}
.nav-link {
  color: white;
  font-size: 25px;
  padding: 25px 10px !important;
}
.nav-item {
  padding-top: 20px 0px !important;
}
nav a:hover {
  background-color: var(--muted-white);
  color: var(--nav-cerulean);
}
#welcome-section {
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  padding: 150px 0px;
  color: white;
  background: linear-gradient(to right, #232526, #414345);
}
#web-dev {
  font-size: 25px;
  color: var(--cerulean);
}
#projects {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  background-color: #cdd8d8;
  padding: 50px 10px;
}
#projects-text {
  font-weight: normal;
  text-decoration: underline;
}
a:hover {
  text-decoration: none !important;
}
.card {
  background-color: var(--muted-black) !important;
  margin: 30px;
  height: 320px;
}
.card-img-top {
  height: 250px;
  padding: 1px;
}
.project-tile {
  color: var(--muted-white);
}
.code {
  color: var(--muted-black);
  transition: color 0.3s ease-out;
}

.project-tile:hover .code {
  color: var(--cerulean);
}
.btn-show-all {
  padding: 15px !important;
  font-size: 1.5rem !important;
  background: var(--muted-black);
  color: var(--muted-white);
  transition: background 0.5s ease-out;
}
.btn-show-all:hover {
  background: var(--nav-cerulean);
  color: var(--muted-white);
}

.btn-show-all:hover > i {
  transform: translateX(5px);
}
.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.white-links a {
  font-size: 22px;
  color: var(--muted-white);
  padding: 20px;
}
.white-links a:hover {
  color: var(--muted-white);
}
#contact {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  color: var(--muted-white);
  background-color: var(--muted-black);
  padding: 50px 10px;
  border-bottom: 5px var(--cerulean) solid;
}
.footer {
  padding: 40px;
  color: var(--muted-white);
  background-color: var(--muted-black);
}
.footer a {
  color: var(--muted-white);
}
.footer a:hover {
  color: var(--muted-white);
}
